<ion-view view-title="Home">
  <ion-content class="dashboard-list">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in friends" type="item-text-wrap">
        <img src="img/blank-image.png">
        <h2 style="float:left;">{{friend.get("SecondPerson").get("firstname") +' '+ friend.get("SecondPerson").get("lastname")}}</h2>
        <div style="float:right; color: green;" ng-show="friend.suttasOwed > 0">
          <p style="color:green;">
            owes you
          </p>
          {{friend.suttasOwed}}
          <p style="color:green;">
            cigarette
          </p>
        </div>
        <div style="float:right; color: red;" ng-show="friend.suttasOwed < 0">
          <p style="color:red;">
            you owe
          </p>
          {{-friend.suttasOwed}}
          <p style="color:red;">
            cigarette
          </p>
        </div>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
